.fg1{font-family: Georgia, 'Times New Roman', Times, cursive;}
table,tr,td{border:solid 1px black;}
body{margin:0px;}
div{

  padding: 0px;
  margin: 0px 0px 5px 0px;
}
#b1{background-color:#999;
width:100%;
  padding: 0px;
  margin: 0px;
  background-image: url(logo1.png);
  background-repeat:repeat-y;
  background-position: top center;
}
#b2{
width:100%;}
#b3{background-color:#090;
width:20%; 
  float:left;}
#b4{background-color:#009;
width:60%;
float:left;
padding:0px;
}
#b5{background-color:#990;
width:20%;
float:left;}
#b6{background-color:#099;
width:100%;
clear:both;}
